::-webkit-scrollbar {
  display: none;
}

body {
    margin: 0;
    padding: 0;
    background: url(../img/fondoRojo.jpg) no-repeat center top fixed;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
  }

  /* ############ LOGIN ############### */

  .bodylogin{
    background: url(../img/fondo2.jpg) no-repeat center top fixed;
    background-size: cover;
  }

  
  
  
  .login-box {
    width: 320px;
    height: 420px;
    background: transparent;
    color: #fff;
    top: 45%;
    left: 80%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
  }
  
  .login-box .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
  }
  
  .login-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
  }
  
  .login-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
  }
  
  .login-box input {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .login-box input[type="text"], .login-box input[type="password"], .login-box input[type="email"], .login-box input[type="number"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
  }
  
  
  .login-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #b80f22;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
  }
  
  .login-box input[type="submit"]:hover {
    cursor: pointer;
    background: #0B87A6;
    color: #fff;
  }
  
  .login-box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
  }
  
  .login-box a:hover {
    color: #fff;
  }

  .register-box a {
    border: none;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
  }
  
  .register-box a:hover {
    cursor: pointer;
    color: #b80f22;
  }

  /* ############## REGISTER ################ */

  .registerUser-box{

      width: 500px;
      height: 792px;
      background: #22242A;
      color: #fff;
      background: linear-gradient(180deg, black 0%, #1a1b1f 85%, #22242A 100%);

      /*background: radial-gradient();*/
      top: 50%;
      left: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
      box-sizing: border-box;
      padding: 50px 30px;
  }

  .registerUser-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
  }
  
  .registerUser-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
  }
  
  .registerUser-box input {
    width: 100%;
    margin-bottom: 20px;
  }

  .registerUser-box input[type="text"], .registerUser-box input[type="password"], .registerUser-box input[type="email"], .registerUser-box input[type="number"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
  }
  
  
  .registerUser-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #b80f22;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
  }
  
  .registerUser-box input[type="submit"]:hover {
    cursor: pointer;
    background: #0B87A6;
    color: #fff;
  }

  /* ############## HEAD ################ */

  header{
    z-index: 1;
    position: fixed;
    background: #22242A;
    padding: 20px;
    width: calc(100% - 0%);
    top: 0;
    height: 30px;
  }

  header a{
    text-decoration: none;
  }
  
  .left_area h3{
    color: #b80f22;
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
  }
  .left_area span:hover{
    color: #0B87A6;
  }
  
  .left_area span{
    color: #fff;
  }

  .logout_btn{
    padding: 5px;
    background: #b80f22;
    text-decoration: none;
    float: right;
    margin-top: -30px;
    margin-right: 40px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    transition: 0.5s;
    transition-property: background;
  }
  
  .logout_btn:hover{
    background: #0B87A6;
  }


  .navegacion{
   /* margin: 0;*/
    padding: 0px;
    width: 100%;
    margin: 53px auto;
    position: fixed;/*
    background: #1c1d22;
    top: 0;
    height: 90px;*/
  }  
  

  .navegacion ul{
    list-style: none;
    /*width: 500px;*/
    padding: 0px;
    
  }
  
  .menu > li{
    position: relative;
    display: inline-block;
  }
  
  .menu > li > a{
    font-size: 11px;
    display: block;
    padding: 15px 132.45px;
    background-color: #1a1b1f;
    color: #fff;
    font-family: 'Open sans';
    text-decoration: none;
  }
  
  
  .menu li a:hover{
    color: #b80f22;
    transition: all .3s;
  }
  
  /* Submenu*/
  
  .submenu{
    position: absolute;
    background: #101113;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
  }
  
  .submenu li a{
    display: block;
    padding: 5px;
    color: #fff;
    font-family: 'Open sans';
    text-decoration: none;
    text-align: center;
  }
  
  .menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
  }
  
  
  
   .nav li a {
   font-family: Arial;
   font-size: 11px;
   text-decoration: none;
   float: left;
   padding: 10px;
   background-color: #324232;
   color: #fff;
   }
  
   .menu li {
   display: inline;
   }
   .menu {
   padding: 0px 30px;
   
   }
   .menu > li{
     float:left;
   }
   .menu li ul{
     position:absolute;
     min-width:140px;
   }
   .nav li:hover > ul{
     display:block;
   }

   .backgroundDeadPool{
    background: url(../img/deadpool-2-fondo.jpg) no-repeat center top fixed;
    background-size: cover;
   }

   .TableStyles {

    width: 320px;
    height: 420px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
   }
   .TableStyles th {
    color:#D5DDE5;;
    background:#b80f22;
    border-bottom:4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size:23px;
    font-weight: 100;
    padding:30px 200px;
    text-align:left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align:middle;
  }
  
  .TableStyles th:first-child {
    border-top-left-radius:3px;
  }
   
  .TableStyles th:last-child {
    border-top-right-radius:3px;
    border-right:none;
  }
    
  .TableStyles tr {
    border-top: 1px solid #C1C3D1;
    border-bottom: 1px solid #C1C3D1;
    color:rgb(255, 255, 255);
    font-size:16px;
    font-weight:normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
  }
   
  .TableStyles tr:hover td {
    background:#4E5066;
    color:#FFFFFF;
    border-top: 1px solid #22262e;
  }
   
  .TableStyles tr:first-child {
    border-top:none;
  }
  
  .TableStyles tr:last-child {
    border-bottom:none;
  }
   
  .TableStyles tr:nth-child(odd) td {
    background:rgb(22, 20, 20);
  }
   
  .TableStyles tr:nth-child(odd):hover td {
    background:#4E5066;
  }
  
  .TableStyles tr:last-child td:first-child {
    border-bottom-left-radius:3px;
  }
   
  .TableStyles tr:last-child td:last-child {
    border-bottom-right-radius:3px;
  }
   
  .TableStyles td {
    background:rgb(15, 14, 14);
    padding:20px;
    text-align:left;
    vertical-align:middle;
    font-weight:300;
    font-size:18px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgb(0, 0, 0);
  }
  
  .TableStyles td:last-child {
    border-right: 0px;
  }
  
  .TableStyles th.text-left {
    text-align: left;
  }
  
  .TableStyles th.text-center {
    text-align: center;
  }
  
  .TableStyles th.text-right {
    text-align: right;
  }
  
  .TableStyles td.text-left {
    text-align: left;
  }
  
  .TableStyles td.text-center {
    text-align: center;
  }
  
  .TableStyles td.text-right {
    text-align: right;
  }
  
  



  .sidebar{
    z-index: 1;
    top: 0;
    background: #2f323a;
    margin-top: 70px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 250px;
    height: calc(100% - 9%);
    transition: 0.5s;
    transition-property: left;
    overflow-y: auto;
  }
  .sidebar a{
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
  }
  
  .sidebar a:hover{
    background: #19B3D3;
  }
  
  .sidebar i{
    padding-right: 10px;
  }
  
  label #sidebar_btn{
    z-index: 1;
    color: #fff;
    position: fixed;
    cursor: pointer;
    left: 300px;
    font-size: 20px;
    margin: 5px 0;
    transition: 0.5s;
    transition-property: color;
  }
  
  label #sidebar_btn:hover{
    color: #19B3D3;
  }
  
  #check:checked ~ .sidebar{
    left: -185px;
  }
  
  #check:checked ~ .sidebar a span{
    display: none;
  }
  
  #check:checked ~ .sidebar a{
    font-size: 20px;
    margin-left: 165px;
    width: 100%;
  }


  
  .pricing_table {
    line-height: 150%; 
    font-size: 12px; 
    margin: 0 auto; 
    width: 75%; 
    max-width: 1000px;
    padding: 100px 110px; 
    padding-top: 10px;
    margin-top: 100px;
}
 
.price_block {
    width: 100%; 
    color: #D5DDE5; 
    float: left; 
    list-style-type: none; 
    transition: all 0.25s; 
    position: relative; 
    box-sizing: border-box;
     
    margin-bottom: 10px; 
    border-bottom: 1px solid transparent; 
}
.pricing_table h3 {
  text-transform: uppercase; 
  padding: 15px 0; 
  background: #b80f22; 
  margin: -10px 0 1px 0;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; 


}
.price {
  display: table; 
  background: #444; 
  width: 100%; 
  height: 70px; 
}
.price_figure {
  font-size: 25px; 
  text-transform: uppercase; 
  vertical-align: middle; 
  display: table-cell;
}
.price_number {
  font-weight: bold; 
  display: block;
}
.price_tenure {
  font-size: 11px; 
}
.features {
  background: rgb(22, 20, 20); 
  color: rgb(212, 202, 202);
}
.features li {
  padding: 8px 15px;
  border-bottom: 1px solid rgb(80, 78, 78); 
  font-size: 11px; 
  list-style-type: none;
}
.footer {
  padding: 15px; 
  background: rgb(22, 20, 20);
}

.action_button {
  text-decoration: none; 
  color: #fff; 
  font-weight: bold; 
  border-radius: 5px; 
  background: linear-gradient(#389afc, #1e5b99); 
  padding: 5px 20px; 
  font-size: 11px; 
  text-transform: uppercase;
  width: 100%;

}
.price_block:hover {
  box-shadow: 0 0 0px 5px rgba(0, 0, 0, 0.5); 
  transform: scale(1.04) translateY(-5px); 
  z-index: 1; 
  border-bottom: 0 none;
}
.price_block:hover .price {
  background:linear-gradient(#0B87A6, #014252); 
  box-shadow: inset 0 0 45px 1px #0B87A6;
}
.price_block:hover h3 {
  background: #0B87A6;
  color: #fff;
}
.price_block:hover .action_button {
  background: linear-gradient(#F9B84A, #DB7224); 
}
@media only screen and (min-width : 480px) and (max-width : 1000px) {
  .price_block {width: 50%;}
  .price_block:nth-child(odd) {border-right: 1px solid transparent;}
  .price_block:nth-child(3) {clear: both;}
   
  .price_block:nth-child(odd):hover {border: 0 none;}
}
@media only screen and (min-width : 1000px){
  .price_block {width: 20%;}
  .price_block {border-right: 1px solid transparent; border-bottom: 0 none;}
  .price_block:last-child {border-right: 0 none;}
   
  .price_block:hover {border: 0 none;}
}



.bodyRegisterRoom{
  background: url(../img/fondosalas.jpg) no-repeat center top fixed;
  background-size: cover;
}

.RegisterRoom-box {
  width: 320px;
  height: 420px;
  background: transparent;
  color: #fff;
  top: 55%;
  left: 18%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 20px 30px;
}

.RegisterRoom-box .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

.RegisterRoom-box h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.RegisterRoom-box label{
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
}

.RegisterRoom-box input,select {
  width: 100%;
  margin-bottom: 20px;
}

.RegisterRoom-box input[type="text"], .RegisterRoom-box input[type="password"], .RegisterRoom-box input[type="email"], .RegisterRoom-box input[type="number"], .RegisterRoom-box select {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.RegisterRoom-box select option{
  background-color: transparent;
}



.RegisterRoom-box input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #b80f22;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.RegisterRoom-box input[type="submit"]:hover {
  cursor: pointer;
  background: #0B87A6;
  color: #fff;
}

.RegisterRoom-box a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}

.RegisterRoom-box a:hover {
  color: #fff;
}