::-webkit-scrollbar {
  display: none;
}

body {
    margin: 0;
    padding: 0;
    background: url(../img/images.jpg) no-repeat center top fixed;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
  }

  /* ############ LOGIN ############### */

  .bodylogin{
    background: url(../img/fondo2.jpg) no-repeat center top fixed;
    background-size: cover;
  }

  
  
  
  .login-box {
    width: 320px;
    height: 420px;
    background: transparent;
    color: #fff;
    top: 55%;
    left: 80%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
  }
  
  .login-box .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
  }
  
  .login-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
  }
  
  .login-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
  }
  
  .login-box input {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .login-box input[type="text"], .login-box input[type="password"], .login-box input[type="email"], .login-box input[type="number"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
  }
  
  
  .login-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #b80f22;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
  }
  
  .login-box input[type="submit"]:hover {
    cursor: pointer;
    background: #0B87A6;
    color: #fff;
  }
  
  .login-box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
  }
  
  .login-box a:hover {
    color: #fff;
  }

  .register-box a {
    border: none;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
  }
  
  .register-box a:hover {
    cursor: pointer;
    color: #b80f22;
  }

  /* ############## REGISTER ################ */

  .registerUser-box{

      width: 500px;
      height: 792px;
      background: #22242A;
      color: #fff;
      background: linear-gradient(180deg, black 0%, #1a1b1f 85%, #22242A 100%);

      /*background: radial-gradient();*/
      top: 50%;
      left: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
      box-sizing: border-box;
      padding: 50px 30px;
  }

  .registerUser-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
  }
  
  .registerUser-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
  }
  
  .registerUser-box input {
    width: 100%;
    margin-bottom: 20px;
  }

  .registerUser-box input[type="text"], .registerUser-box input[type="password"], .registerUser-box input[type="email"], .registerUser-box input[type="number"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
  }
  
  
  .registerUser-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #b80f22;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
  }
  
  .registerUser-box input[type="submit"]:hover {
    cursor: pointer;
    background: #0B87A6;
    color: #fff;
  }

  /* ############## HEAD ################ */

  header{
    z-index: 1;
    position: fixed;
    background: #22242A;
    padding: 20px;
    width: calc(100% - 0%);
    top: 0;
    height: 30px;
  }

  header a{
    text-decoration: none;
  }
  
  .left_area h3{
    color: #b80f22;
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
  }
  .left_area span:hover{
    color: #0B87A6;
  }
  
  .left_area span{
    color: #fff;
  }

  .right_area span{
    padding: 5px;
    text-decoration: none;
    float: right;
    margin-top: -30px;
    margin-right: 110px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    transition: 0.5s;
    transition-property: background;
  }


  .logout_btn{
    padding: 5px;
    background: #b80f22;
    text-decoration: none;
    float: right;
    margin-top: -30px;
    margin-right: 40px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    transition: 0.5s;
    transition-property: background;
  }
  
  .logout_btn:hover{
    background: #0B87A6;
  }


  .navegacion{
    z-index: 1;
   /* margin: 0;*/
    padding: 0px;
    width: 100%;
    margin: 53px auto;
    position: fixed;/*
    background: #1c1d22;
    top: 0;
    height: 90px;*/
  }  
  

  .navegacion ul{
    list-style: none;
    /*width: 500px;*/
    padding: 0px;
    
  }
  
  .menu > li{
    position: relative;
    display: inline-block;
  }
  
  .menu > li > a{
    font-size: 11px;
    display: block;
    padding: 15px 87.05px;
    background-color: #1a1b1f;
    color: #fff;
    font-family: 'Open sans';
    text-decoration: none;
  }
  
  
  .menu li a:hover{
    color: #b80f22;
    transition: all .3s;
  }
  
  /* Submenu*/
  
  .submenu{
    position: absolute;
    background: #101113;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
  }
  
  .submenu li a{
    display: block;
    padding: 5px;
    color: #fff;
    font-family: 'Open sans';
    text-decoration: none;
    text-align: center;
  }
  
  .menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
  }
  
  
  
   .nav li a {
   font-family: Arial;
   font-size: 11px;
   text-decoration: none;
   float: left;
   padding: 10px;
   background-color: #324232;
   color: #fff;
   }
  
   .menu li {
   display: inline;
   }
   .menu {
   padding: 0px 30px;
   
   }
   .menu > li{
     float:left;
   }
   .menu li ul{
     position:absolute;
     min-width:140px;
   }
   .nav li:hover > ul{
     display:block;
   }

   



   .backgroundDeadPool{
    background: url(../img/deadpool-2-fondo.jpg) no-repeat center top fixed;
    background-size: cover;
   }

   .TableStyles{
     width: 320px;
    height: 420px;  
    padding: 100px 1px;
   }
   
   .TableStylesRooms{
    width: 320px;
   height: 620px;  
   padding: 100px 476px;
  }


  .TableStyles th {
    color:#D5DDE5;
    background:#b80f22;
    border-bottom:4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size:23px;
    font-weight: 100;
    padding:24px;
    text-align:left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align:middle;
  }
  
  .TableStyles th:first-child {
    border-top-left-radius:3px;
  }
   
  .TableStyles th:last-child {
    border-top-right-radius:3px;
    border-right:none;
  }
    
  .TableStyles tr {
    border-top: 1px solid #C1C3D1;
    border-bottom: 1px solid #C1C3D1;
    color:rgb(255, 255, 255);
    font-size:16px;
    font-weight:normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
  }
   
  .TableStyles tr:hover td {
    background:#4E5066;
    color:#FFFFFF;
    border-top: 1px solid #22262e;
  }
   
  .TableStyles tr:first-child {
    border-top:none;
  }
  
  .TableStyles tr:last-child {
    border-bottom:none;
  }
   
  .TableStyles tr:nth-child(odd) td {
    background:rgb(22, 20, 20);
  }
   
  .TableStyles tr:nth-child(odd):hover td {
    background:#4E5066;
  }
  
  .TableStyles tr:last-child td:first-child {
    border-bottom-left-radius:3px;
  }
   
  .TableStyles tr:last-child td:last-child {
    border-bottom-right-radius:3px;
  }
   
  .TableStyles td {
    background:rgb(15, 14, 14);
    padding:20px;
    text-align:left;
    vertical-align:middle;
    font-weight:300;
    font-size:18px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgb(0, 0, 0);
  }
  
  .TableStyles td:last-child {
    border-right: 0px;
  }
  
  .TableStyles th.text-left {
    text-align: left;
  }
  
  .TableStyles th.text-center {
    text-align: center;
  }
  
  .TableStyles th.text-right {
    text-align: right;
  }
  
  .TableStyles td.text-left {
    text-align: left;
  }
  
  .TableStyles td.text-center {
    text-align: center;
  }
  
  .TableStyles td.text-right {
    text-align: right;
  }
  
  /*.TableStylesRooms{
    width: 3000px;
   height: 420px;  
   padding: 120px 550px;
  }*/

  .TableStylesRooms th {
    color:#D5DDE5;
    background:#b80f22;
    border-bottom:4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size:23px;
    font-weight: 100;
    padding:24px;
    text-align:left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align:middle;
  }
  
  .TableStylesRooms th:first-child {
    border-top-left-radius:3px;
  }
   
  .TableStylesRooms th:last-child {
    border-top-right-radius:3px;
    border-right:none;
  }
    
  .TableStylesRooms tr {
    border-top: 1px solid #C1C3D1;
    border-bottom: 1px solid #C1C3D1;
    color:rgb(255, 255, 255);
    font-size:16px;
    font-weight:normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
  }
   
  .TableStylesRooms tr:hover td {
    background:#4E5066;
    color:#FFFFFF;
    border-top: 1px solid #22262e;
  }
   
  .TableStylesRooms tr:first-child {
    border-top:none;
  }
  
  .TableStylesRooms tr:last-child {
    border-bottom:none;
  }
   
  .TableStylesRooms tr:nth-child(odd) td {
    background:rgb(22, 20, 20);
  }
   
  .TableStylesRooms tr:nth-child(odd):hover td {
    background:#4E5066;
  }
  
  .TableStylesRooms tr:last-child td:first-child {
    border-bottom-left-radius:3px;
  }
   
  .TableStylesRooms tr:last-child td:last-child {
    border-bottom-right-radius:3px;
  }
   
  .TableStylesRooms td {
    background:rgb(15, 14, 14);
    padding:20px;
    text-align:left;
    vertical-align:middle;
    font-weight:300;
    font-size:18px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgb(0, 0, 0);
  }
  
  .TableStylesRooms td:last-child {
    border-right: 0px;
  }
  
  .TableStylesRooms th.text-left {
    text-align: left;
  }
  
  .TableStylesRooms th.text-center {
    text-align: center;
  }
  
  .TableStylesRooms th.text-right {
    text-align: right;
  }
  
  .TableStylesRooms td.text-left {
    text-align: left;
  }
  
  .TableStylesRooms td.text-center {
    text-align: center;
  }
  
  .TableStylesRooms td.text-right {
    text-align: right;
  }
  
  

  .sidebar{
    z-index: 1;
    top: 0;
    background: #2f323a;
    margin-top: 70px;
    padding-top: 0px;
    position: fixed;
    left: 0;
    width: 250px;
    height: calc(100% - 9%);
    transition: 0.5s;
    transition-property: left;
    overflow-y: auto;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .sidebar a{
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 65px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
  }
  
  .sidebar a:hover{
    background: #19B3D3;
  }
  
  .sidebar i{
    padding-right: 10px;
  }
  .sidebar div{
    style= "margin-top 1px";
  }

  
  label #sidebar_btn{
    z-index: 1;
    color: #fff;
    position: fixed;
    cursor: pointer;
    left: 300px;
    font-size: 20px;
    margin: 5px 0;
    transition: 0.5s;
    transition-property: color;
  }
  
  label #sidebar_btn:hover{
    color: #19B3D3;
  }
  
  #check:checked ~ .sidebar{
    left: -185px;
  }
  
  #check:checked ~ .sidebar a span{
    display: none;
  }
  
  #check:checked ~ .sidebar a{
    font-size: 20px;
    margin-left: 165px;
    width: 100%;
  }


  
  .pricing_table {
    line-height: 150%; 
    font-size: 12px; 
    margin: 0 auto; 
    width: 75%; 
    max-width: 1000px;
    padding: 100px 110px; 
    padding-top: 10px;
    margin-top: 100px;
}

  .pricing_table2 {
    line-height: 150%; 
    font-size: 12px; 
    margin: 0 auto; 
    width: 75%; 
    max-width: 1000px;
    padding: 800px 300px; 
    padding-top: 10px;
    margin-top: 100px;
}

  .pricing_table2 h3 {
    text-transform: uppercase; 
    padding: 15px 0; 
    background: #b80f22; 
    margin: -10px 0 1px 0;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; 


  }
 
.price_block {
    width: 100%; 
    color: #D5DDE5; 
    float: left; 
    list-style-type: none; 
    transition: all 0.25s; 
    position: relative; 
    box-sizing: border-box;
     
    margin-bottom: 10px; 
    border-bottom: 1px solid transparent; 
}
.pricing_table h3 {
  text-transform: uppercase; 
  padding: 15px 0; 
  background: #b80f22; 
  margin: -10px 0 1px 0;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; 


}
.price {
  display: table; 
  background: #444; 
  width: 100%; 
  height: 70px; 
}
.price_figure {
  font-size: 25px; 
  text-transform: uppercase; 
  vertical-align: middle; 
  display: table-cell;
}
.price_number {
  font-weight: bold; 
  display: block;
}
.price_tenure {
  font-size: 11px; 
}
.features {
  background: rgb(22, 20, 20); 
  color: rgb(212, 202, 202);
  padding-left: 0px;
}
.features li {
  padding: 8px 15px;
  border-bottom: 1px solid rgb(80, 78, 78); 
  font-size: 11px; 
  list-style-type: none;
  
}
.footer {
  padding: 15px; 
  background: rgb(22, 20, 20);
}

.action_button {
  text-decoration: none; 
  color: #fff; 
  font-weight: bold; 
  border-radius: 5px; 
  background: linear-gradient(#389afc, #1e5b99); 
  padding: 5px 20px; 
  font-size: 11px; 
  text-transform: uppercase;
  width: 100%;

}
.price_block:hover {
  box-shadow: 0 0 0px 5px rgba(0, 0, 0, 0.5); 
  transform: scale(1.04) translateY(-5px); 
  z-index: 1; 
  border-bottom: 0 none;
}
.price_block:hover .price {
  background:linear-gradient(#0B87A6, #014252); 
  box-shadow: inset 0 0 45px 1px #0B87A6;
}
.price_block:hover h3 {
  background: #0B87A6;
  color: #fff;
}
.price_block:hover .action_button {
  background: linear-gradient(#F9B84A, #DB7224); 
}
@media only screen and (min-width : 480px) and (max-width : 1000px) {
  .price_block {width: 50%;}
  .price_block:nth-child(odd) {border-right: 1px solid transparent;}
  .price_block:nth-child(3) {clear: both;}
   
  .price_block:nth-child(odd):hover {border: 0 none;}
}
@media only screen and (min-width : 1000px){
  .price_block {width: 20%;}
  .price_block {border-right: 1px solid transparent; border-bottom: 0 none;}
  .price_block:last-child {border-right: 0 none;}
   
  .price_block:hover {border: 0 none;}
}



.bodyRegisterRoom{
  background: url(../img/fondosalas.jpg) no-repeat center top fixed;
  background-size: cover;
}

.RegisterRoom-box {
  width: 320px;
  height: 420px;
  background: transparent;
  color: #fff;
  top: 55%;
  left: 18%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 20px 30px;
}

.RegisterRoom-box .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

.RegisterRoom-box h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.RegisterRoom-box label{
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
}

.RegisterRoom-box input {
  width: 100%;
  margin-bottom: 20px;
}

.RegisterRoom-box input[type="text"], .RegisterRoom-box input[type="password"], .RegisterRoom-box input[type="email"], .RegisterRoom-box input[type="number"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}



.RegisterRoom-box input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #b80f22;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.RegisterRoom-box input[type="submit"]:hover {
  cursor: pointer;
  background: #0B87A6;
  color: #fff;
}

.RegisterRoom-box a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}

.RegisterRoom-box a:hover {
  color: #fff;
}

.Roomlist{
  background: url(../img/fondosalalista.jpg) no-repeat center top fixed;
  background-size: cover;
}

.genderlist{
  background: url(../img/fondogenderlist.png) no-repeat center top fixed;
  background-size: cover;
}

.TableStylesCinema{
  width: 1000 px;
 height: 200px;  
 padding: 120px 10px;
}

.TableStylesCinema table{
  width: 500px;
  padding-left: 0px;
}

 
.TableStylesCinema th {
  color:#D5DDE5;
  background:#b80f22;
  /*border-bottom:4px solid #9ea7af;*/
  border-right: 1px solid #343a45;
  font-size:23px;
  font-weight: 100;
  padding:24px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

.TableStylesCinema th:first-child {
  border-top-left-radius:3px;
}
 
.TableStylesCinema th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
.TableStylesCinema tr {
  border-top: 1px solid #C1C3D1;
  border-bottom: 1px solid #C1C3D1;
  color:rgb(255, 255, 255);
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
.TableStylesCinema tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
}
 
.TableStylesCinema tr:first-child {
  border-top:none;
}

.TableStylesCinema tr:last-child {
  border-bottom:none;
}
 
.TableStylesCinema tr:nth-child(odd) td {
  background:rgb(22, 20, 20);
}
 
.TableStylesCinema tr:nth-child(odd):hover td {
  background:#4E5066;
}

.TableStylesCinema tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
.TableStylesCinema tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
.tdImg{
  width:100px;
  height: 100px; ;
}
 
.TableStylesCinema td {
  background:rgb(15, 14, 14);
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgb(0, 0, 0);
}

.TableStylesCinema td:last-child {
  border-right: 0px;
}

.TableStylesCinema th.text-left {
  text-align: left;
}

.TableStylesCinema th.text-center {
  text-align: center;
}

.TableStylesCinema th.text-right {
  text-align: right;
}

.TableStylesCinema td.text-left {
  text-align: left;
}

.TableStylesCinema td.text-center {
  text-align: center;
}

.TableStylesCinema td.text-right {
  text-align: right;
}

.bodyCinemaList{
  background: url(../img/Background-Narrow.jpg) no-repeat center top fixed;
  background-size: cover;
}

.bod{
  background: url(../img/fondoRojo.jpg) no-repeat center top fixed;
  background-size: cover;
}


/*Formulario Tarjeta*/


.creditCardForm {
  max-width: 700px;
  background-color: #22242A;
  margin: 100px auto;
  overflow: hidden;
  padding: 25px;
  color: #fff;
  background: linear-gradient(180deg, black 0%, #1a1b1f 85%, #22242A 100%);
  box-sizing: border-box;

}
.creditCardForm label {
  width: 100%;
  margin-bottom: 10px;
}
.creditCardForm .heading h1 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}
.creditCardForm .payment {
  float: left;
  font-size: 18px;
  padding: 10px 25px;
  margin-top: 20px;
  position: relative;
}
.creditCardForm .payment .form-group {
  float: left;
  margin-bottom: 15px;
}
.creditCardForm .payment .form-control {
  line-height: 40px;
  height: auto;
  padding: 0 16px;
}
.creditCardForm .owner {
  width: 63%;
  margin-right: 10px;
}
.creditCardForm .CVV {
  width: 35%;
}
.creditCardForm #card-number-field {
  width: 100%;
}
.creditCardForm #expiration-date {
  width: 49%;
}
.creditCardForm #credit_cards {
  width: 50%;
  margin-top: 25px;
  text-align: right;
}
.creditCardForm #pay-now {
  width: 100%;
  margin-top: 25px;
}
.creditCardForm .payment .btn {
  width: 100%;
  margin-top: 3px;
  font-size: 24px;
  background-color: #b80f22;
  border-radius: 20px;
  color: white;
}
.creditCardForm .payment .btn:hover{
  background: #0B87A6;
}
.creditCardForm .payment select {
  padding: 10px;
  margin-right: 15px;
}
.transparent {
  opacity: 0.2;
}
@media(max-width: 650px) {
  .creditCardForm .owner,
  .creditCardForm .CVV,
  .creditCardForm #expiration-date,
  .creditCardForm #credit_cards {
      width: 100%;
  }
  .creditCardForm #credit_cards {
      text-align: left;
  }
}

/* ticket */


.cardWrap {
  width: 27em;
  margin: 3em auto;
  color: #fff;
  font-family: sans-serif;
}

.card {
  background: linear-gradient(to bottom, #b80f22 0%, #b80f22 26%, #1b1b1d 26%, #1b1b1d 100%);
  height: 11em;
  float: left;
  position: relative;
  padding: 1em;
  margin-top: 100px;
}

.cardLeft {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  width: 16em;
}

.cardRight {
  width: 6.5em;
  border-left: .18em dashed #fff;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.cardRight {
  width: 6.5em;
  border-left: .18em dashed #fff;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.cardRight :before :after{
    content: "";
    position: absolute;
    display: block;
    width: .9em;
    height: .9em;
    background: #fff;
    border-radius: 50%;
    left: -.5em;
  }
.cardRight:before {
    top: -.4em;
  }
.cardRight:after {
  bottom: -.4em;
  }

h1 {
  font-size: 1.1em;
  margin-top: 0;
}

h1 span{font-weight: normal;}

.title, .name, .seat, .time {
  text-transform: uppercase;
  font-weight: normal;
}
.title, .name, .seat, .time h2{
  font-size: .9em;
    color: #525252;
    margin: 0;
}
.title, .name, .seat, .time span{
  font-size: .7em;
    color: #a2aeae;
}
.title {
  margin: 2em 0 0 0;
}

.name, .seat {
  margin: .7em 0 0 0;
}

.time {
  margin: .7em 0 0 1em;
}

.seat, .time {
  float: left;
}

.eye {
  position: relative;
  width: 2em;
  height: 1.5em;
  background: #fff;
  margin: 0 auto;
  border-radius: 1em/0.6em;
  z-index: 1;
  
}
  .eye :after {
  width: .5em;
  height: .5em;
  background: rgb(63, 59, 59);
  z-index: 3;
  left: 12px;
  top: 8px;
  }
  .eye :before :after{
    content:"";
    display: block;
    position: absolute;
    border-radius: 50%;
  }
  .eye :before{width: 1em;
    height: 1em;
    background: #b80f22;
    z-index: 2;
    left: 8px;
    top: 4px;
  }

.number {
  text-align: center;
  text-transform: uppercase;
}
.number h3{
    color: #b80f22;
    margin: .9em 0 0 0;
    font-size: 2.5em;
    
  }
.number span{
    display: block;
    color: #a2aeae;
  }
.barcode {
  height: 2em;
  width: 0;
  margin: 1.2em 0 0 .8em;
  box-shadow: 1px 0 0 1px #343434,
  5px 0 0 1px #343434,
  10px 0 0 1px #343434,
  11px 0 0 1px #343434,
  15px 0 0 1px #343434,
  18px 0 0 1px #343434,
  22px 0 0 1px #343434,
  23px 0 0 1px #343434,
  26px 0 0 1px #343434,
  30px 0 0 1px #343434,
  35px 0 0 1px #343434,
  37px 0 0 1px #343434,
  41px 0 0 1px #343434,
  44px 0 0 1px #343434,
  47px 0 0 1px #343434,
  51px 0 0 1px #343434,
  56px 0 0 1px #343434,
  59px 0 0 1px #343434,
  64px 0 0 1px #343434,
  68px 0 0 1px #343434,
  72px 0 0 1px #343434,
  74px 0 0 1px #343434,
  77px 0 0 1px #343434,
  81px 0 0 1px #343434;
}


#register {
  width: 20em;
  margin: auto;
}
#ticket {
  background: white;
  margin: 0 1em;
  padding: 1em;
  box-shadow: 0 0 5px rgba(0,0,0,.25);
}
#ticket h1 {
  text-align: center;
}
#ticket table {
  font-family: monospace;
  width: 100%;
  border-collapse: collapse;
}
#ticket td, #ticket th {
  padding: 5px;
}
#ticket th {
  text-align: left;
}
#ticket td, #ticket #total {
  text-align: right;
}
#ticket tfoot th {
  border-top: 1px solid black;
}

#entry {
  background: #333;
  padding: 12px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,.25);
}
#entry input {
  width: 100%;
  padding: 10px;
  border: 1px solid black;
  text-align: right;
  font-family: sans-serif;
  font-size: 20px;
  box-shadow: inset 0 0 3px rgba(0,0,0,.5);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#entry input:focus {
  outline: none;
  border-color: rgba(255,255,255,.75);
}